:root {
    --cl-primary: 77, 90, 229;
    --cl-pressed: 64, 75, 191;
    --cl-dark: 46, 47, 66;
    --cl-text: 67, 68, 85;
    --cl-success: 49, 208, 170;
    --cl-bg: 255, 255, 255, 1;
    --cl-light-text: 244, 244, 253;
    --cl-light-bg: 244, 244, 253, 1;
    --cl-grey: 46, 47, 66, 70;
    --cl-green: 49, 208, 170, 1;
    --cl-overlay-white: #F4F4FD;

    /* Other */

    --items: 4;
    --indent-col: 24px;
    --indent-row: var(var(--indent-col));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(var(--cl-text));
    background: rgb(var(--cl-bg));
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 16px;
    padding: 0 15px 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: rgb(var(--cl-primary));
    color: rgb(var(--cl-bg));

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

button:hover {
    background-color: rgb(var(--cl-pressed));
}

button:focus {
    background-color: rgb(var(--cl-pressed));
}

/* Grid layout */

.card-set {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--indent-col);
    row-gap: var(--indent-row);
}

.card-set-item {
    width: calc((100% - var(--indent-col) * (var(--items) - 1)) / var(--items));
}

/* #region Logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgb(var(--cl-primary));
    margin-right: 76px;
}


.logo-blue {
    color: rgb(var(--cl-dark));
}

/* #endregion Logo */


/* #region Header */

.header {
    border-bottom: 1px solid #E7E9FC;
    position: sticky;
    top: -1px;
    background: white;
    z-index: 9;

    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    align-items: center;

}

.header-nav {
    display: flex;
    align-items: center;

    flex-grow: 1;
}
.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(var(--cl-pressed));
}

.nav-link.active{
    font-weight: 500;
    color: rgb(var(--cl-pressed));
}

.nav-link {
    padding: 24px 0;
    position: relative;
    display: block;
    line-height: 1.5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}

.header-menu {
    display: flex;
    align-items: center;

    gap: 40px;
}

.header-menu-item {
    list-style-type: none;
}

.header-menu-link {
    color: rgb(var(--cl-dark));
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    display: block;
    padding: 24px 0;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}

.header-menu-link:hover {
    color: rgb(var(--cl-pressed));
}

.header-menu-link:focus {
    color: rgb(var(--cl-pressed));
}

/* #endregion Header */


/* #region Contacts */
.header-contacts {
    font-style: normal;
}

.header-contacts-list {
    display: flex;
    align-items: center;

    gap: 40px;
}

.header-contacts-item {
    list-style-type: none;
}

.header-contacts-link {
    color: rgb(var(--cl-text));
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    text-decoration: none;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}

.header-contacts-link:hover {
    color: rgb(var(--cl-pressed));
}

.header-contacts-link:focus {
    color: rgb(var(--cl-pressed));
}

/* #end region Contacts */


/* #region Hero */

.hero-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: rgb(var(--cl-dark));
    padding: 188px 0 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)
        ),
         url(../images/hero/hero-bg.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
}

.hero-title {
    max-width: 496px;
    margin-bottom: 32px;
    color: rgb(var(--cl-bg));
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;

}

.btn {
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.15);

}

.btn-primary {}

/* #end region Hero */


/* #region Features */
.features {
    padding: 120px 0;
    margin: 0 auto;
    max-width: 1440px;
}

.features-list {
    --indent-col: 24px;
    --items: 4;
    gap: 24px;
}

.features-item {}

.features-caption {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(var(--cl-dark));
}

.features-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(var(--cl-text));
}

.features-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    margin-bottom: 8px;
    height: 112px;

    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: rgb(var(--cl-light-text));
}

/* #end region Features */


/* #region Team */
.team {
    background-color: rgb(var(--cl-light-bg));
    padding: 120px 0;
}

.team-heading {
    margin: 0 auto 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: rgb(var(--cl-dark));
}

.team-list {
    gap: 24px;
}

.team-item {
    display: flex;
    flex-direction: column;

    border-radius: 0px 0px 4px 4px;
    background: rgb(var(--cl-bg));
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team-img {}

.team-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(var(--cl-dark));

    text-align: center;
    margin-bottom: 8px;
}

.team-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(var(--cl-text));
    padding-bottom: 8px;

    text-align: center;
}

.team-info {
    padding: 32px 0;
}

.social-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.icon-bg {
}

.social-link {
    background-color: rgb(var(--cl-primary));
    width: 40px;
    height: 40px;
    border-radius: 50%;
        
    display: flex;
    justify-content: center;
    align-items: center;
        
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
 background-color: rgb(var(--cl-green));
}

/* #end region Team */


/* #region Portfolio */

.portfolio {
    padding: 120px 0;
}

.portfolio-heading {
    margin: 0 auto 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: rgb(var(--cl-dark));
}

.portfolio-img {}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
   

}

.overlay-text {
    color: var(--cl-overlay-white);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
        
    letter-spacing: 0.02em;
    padding: 40px 32px;

    position: absolute;
        top: 0;
        left: 0;
    
        width: 100%;
        height: 100%;
    
        background: rgb(var(--cl-primary));
    
        transform: translateY(100%);
    
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-item:hover .overlay-text,
.portfolio-item:focus .overlay-text {
    transform: translateY(0);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(var(--cl-dark));

    margin-bottom: 8px;
}

.portfolio-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(var(--cl-text));

    text-align: left;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* #end region Portfolio */


/* #region Footer */
.footer {
    background-color: rgb(var(--cl-dark));
    padding: 100px 0;

    display: flex;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    color: rgb(var(--cl-primary));
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    display: inline-block;
    margin-bottom: 16px;
}

.footer-info {
    margin-right: 120px;
}

.footer-logo-white {
    color: rgb(var(--cl-light-bg));
    text-transform: uppercase;
}

.footer-caption {
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(var(--cl-light-text));
}

.footer-social-icon {
    display: flex;
    gap: 16px;
}

.social-media-heading {
  color: var(--cl-bg);
  margin-bottom: 16px;
  font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em
}

.features-icon {
    fill: rgb(var(--cl-light-text));
}

.container.footer-wrapper {
    display: flex;
    align-items: baseline;
}

/* #end region Footer */