:root {
    --cl-primary: 77, 90, 229;
    --cl-pressed: 64, 75, 191;
    --cl-dark: 46, 47, 66;
    --cl-text: 67, 68, 85;
    --cl-success: 49, 208, 170;
    --cl-bg: 255, 255, 255, 1;
    --cl-light-text: 244, 244, 253;
    --cl-light-bg: 244, 244, 253, 1;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(var(--cl-text));
    background: rgb(var(--cl-bg));
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: inherit ;
    color: currentColor;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: rgb(var(--cl-primary));
    color: rgb(var(--cl-bg));
}

button:hover {
   background-color: rgb(var(--cl-pressed));
}

button:focus {
   background-color: rgb(var(--cl-pressed));
}

/* #region Logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgb(var(--cl-primary));
}

.logo-blue {
    color: rgb(var(--cl-dark));
}
/* #endregion Logo */


/* #region Header */
.header {}

.header-nav {}  

.header-menu {}

.header-menu-item {
    list-style-type: none;
}

.header-menu-link {
    color: rgb(var(--cl-dark));
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu-link:hover {
    color: rgb(var(--cl-pressed));
}

.header-menu-link:focus {
    color: rgb(var(--cl-pressed));
}
/* #endregion Header */


/* #region Contacts */
.header-contacts {
    font-style: normal;
}

.header-contacts-item {
    list-style-type: none;
}

.header-contacts-link {
    color: rgb(var(--cl-text));
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    text-decoration: none;
}

.header-contacts-link:hover {
    color: rgb(var(--cl-pressed));
}

.header-contacts-link:focus {
    color: rgb(var(--cl-pressed));
}
/* #end region Contacts */


/* #region Hero */
.hero {
    background-color: rgb(var(--cl-dark));
}

.hero-title {
    color: rgb(var(--cl-bg));
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.btn {}

.btn-primary {}

/* #end region Hero */


/* #region Features */
.features {}

.features-list {}

.features-item {}

.features-caption {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;     
}

.features-desc {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: rgb(var(--cl-text));
}

/* #end region Features */


/* #region Team */
.team {
    background-color: rgb(var(--cl-light-bg))
}

.team-heading {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {}

.team-item {
    background-color: rgb(var(--cl-bg))
}

.team-img {}

.team-caption {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.team-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(var(--cl-text));
}

/* #end region Team */


/* #region Portfolio */
.portfolio-heading {}

.portfolio-img {}

.portfolio-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-desc {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: rgb(var(--cl-text));
}
/* #end region Portfolio */


/* #region Footer */
.footer { 
    background-color: rgb(var(--cl-dark));
}

.footer-logo {
    color: rgb(var(--cl-primary));
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-logo-white {
    color: rgb(var(--cl-light-bg));
    text-transform: uppercase;
}

.footer-caption {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:rgb(var(--cl-light-text));
}
/* #end region Footer */